html{
    justify-content: center;
    align-items: center;
    border: 30px;
    width: 400px;
    height: 300px;
    border: 2px solid #333;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: rgb(0, 140, 255);
}
input{
    background-color: rgb(199, 199, 199);
}
.excluirItens{
    flex-direction: row;
    justify-content: center;
    align-items: end;
}
h1{
    font-family:cursive;
    padding: 10px;
}
    .item {
    padding: 10px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    }
